/* outfit and creative mono */
@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    transition: all 0.2s ease;
}

html {
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: #000000 #c2c2c2;
    
}

body::-webkit-scrollbar {
    width: 0.4rem;
    height: 0.4rem;
}

body::-webkit-scrollbar-track {
    background-color: #c2c2c2;
}

body::-webkit-scrollbar-thumb {
    background-color: #000000;
}

body::-webkit-scrollbar-thumb:hover {
    background-color: #efc368;
}


@layer base {
    body {
        font-family: 'Cutive Mono', monospace;
        font-family: 'Outfit', sans-serif;
        letter-spacing: 0.3px;
        transition: all 0.3s ease;
        background-color: #E8EDFF;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        @apply min-w-[280px] text-[14px] font-light md:text-[15.5px] lg:text-[16px] leading-5;
    }
}

@layer components {
    .xs {
      @apply flex justify-start;
    }
  
    .xc {
      @apply flex justify-center;
    }
  
    .xe {
      @apply flex justify-end;
    }
  
    .ys {
      @apply flex items-start;
    }
  
    .yc {
      @apply flex items-center;
    }
  
    .ye {
      @apply flex items-end;
    }
  
    .xys {
      @apply flex justify-start items-start;
    }
  
    .xyc {
      @apply flex justify-center items-center;
    }
  
    .xye {
      @apply flex justify-end items-end;
    }
  
    ::selection {
      @apply bg-black text-white;
    }
  
    ::-moz-selection {
      @apply bg-black text-white;
    }
    .dis{
      @apply text-lite text-[14px] md:text-[15.5px] leading-6
    }
    .frame{
      @apply px-2 py-6 mt-5 md:mt-8
    }
    .ht{
      @apply text-[20px] md:text-[28px] font-semibold md:font-bold leading-8 text-slate-800
    }
  
  }

@layer utilities{
.bgblur{
  border:1px solid #FFF;
  background: linear-gradient(223deg, rgba(255, 255, 255, 0.60) 51.56%, rgba(228, 247, 253, 0.60) 92.19%);
  backdrop-filter: blur(1.317073106765747px);
}
.boxsh{
background: #E9F0E8;
box-shadow: 2.63415px 7.2439px 27.9878px 3.29268px rgba(38, 75, 118, 0.10);
}
.boxblur{ 
  border-radius: 20px;
border: 0.5px solid #FFF;
background: linear-gradient(204deg, rgba(255, 255, 255, 0.60) 35.68%, rgba(252, 254, 255, 0.60) 62.04%, rgba(229, 248, 253, 0.60) 88.94%);
box-shadow: 8px 22px 77.7px 4px rgba(38, 75, 118, 0.10);
backdrop-filter: blur(4px);
}
.boxblurs{ 
  border-radius: 10px;
border: 0.5px solid #FFF;
background: linear-gradient(204deg, rgba(255, 255, 255, 0.60) 35.68%, rgba(252, 254, 255, 0.60) 62.04%, rgba(229, 248, 253, 0.60) 88.94%);
backdrop-filter: blur(4px);
}
.bggblur{
background: rgba(255, 255, 255, 0.10);
backdrop-filter: blur(6.08871078491211px);
}
  }